google-chart {
    margin: auto;
}

.details {
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.details.small-device{
    width: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.element {
    font-size: larger;
    margin: auto;
    align-items: center;
}